<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>Member Blogs</name>
	<package>memberblogs</package>
	<loadPriority>5</loadPriority>
	<version>1.0.13</version>
	<provider>Steve Good</provider>
	<providerURL>http://stevegood.org/</providerURL>
	<category>User Generated Content</category>
	<settings />
	<EventHandlers>
		<eventHandler event="onApplicationLoad" component="eventHandlers.MainEventHandler" persist="true" />
		<eventHandler event="onSiteRequestStart" component="eventHandlers.MainEventHandler" persist="true" />
		<eventHandler event="onAdminModuleNav" component="eventHandlers.MainEventHandler" persist="true" />
		<eventHandler event="onAddMemberBlogRequest" component="eventHandlers.MainEventHandler" persist="true" />
		<eventHandler event="onSaveMBPluginSettings" component="eventHandlers.MainEventHandler" persist="true" />
		<eventHandler event="onRetrieveMBSettings" component="eventHandlers.MainEventHandler" persist="true" />
		<eventHandler event="onMemberBlogApprove" component="eventHandlers.MainEventHandler" persist="true" />
		<eventHandler event="onMemberBlogRevoke" component="eventHandlers.MainEventHandler" persist="true" />
		<eventHandler event="onMemberBlogDelete" component="eventHandlers.MainEventHandler" persist="true" />
	</EventHandlers>
	<DisplayObjects location="global">
		<displayObject name="Member Blogs List" displayobjectfile="displayObjects/dsp_memberBlogsList.cfm" />
		<displayObject name="Add Blog Request Form" displayobjectfile="displayObjects/dsp_addBlogRequestForm.cfm" />
	</DisplayObjects>
</plugin>